//start header
.header {
	position: relative;
	z-index: 500;
	// .header__wrapper
	&__wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		&:before {
			position:absolute;
			content: "";
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			background-color: rgba(12, 12, 12, 0.65);
		}
	}
	// .header__inner
	&__inner {
		position: relative;
		z-index: 55;
		height: 90px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: height 0.3s ease 0s;
		&.active {
			height: 50px;
		}
		@media (max-width: 991.98px) {
			height: 60px;
		};
	}
	// .header__logo-box
	&__logo-box {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		flex: 1 0 162px;
		max-width: 162px;
		transition-duration: 0.3s;
		&.active {
			top: -100%;
		}
		@media (max-width: 1470px) {
			max-width: calc(70px + (162 - 70) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (max-width: 610px) {
			left: 0;
			transform: translate(0, -50%);
		};
	}
	// .header__social-media
	&__social-media {
		max-width: 100%;
		display: flex;
		@media (max-width: 610px) {
			display: none;
		};
	}
	// .header__social-box
	&__social-box {
		width: 100%;
		width: 30px;
		+ .header__social-box {
			margin-left: 10px;
		}
		@media (min-width: 991.98px) {
			&:hover {
				.header__icon-svg{
					fill: #AF995C;
					transform: translateY(-3px);
					transition-duration: 0.3s;
				}
			}
		};
	}
	// .header__icon-svg
	&__icon-svg {
		transition-duration: 0.3s;
		width: 30px;
		height: 30px;
		fill: #fff;
	}
	// .header__nav-body
	&__nav-body {
		width: 100%;
	}
	// .header__nav-inn
	&__nav-inn {
		display: flex;
		justify-content: space-between;
	}
	// .header__nav
	&__nav {
		width: 100%;
		max-width: 340px;
		@media (max-width: 1917px) {
			max-width: calc(160px + (340 - 160) * ((100vw - 320px) / (1917 - 320)));
		};
		@media (max-width: 1200px) {
			display: none;
		};
	}
	// .header__menu-list
	&__menu-list {
		display: flex;
		justify-content: space-between;
	}
	// .header__menu-item
	&__menu-item {
		@media (min-width: 991.98px) {
			&:hover {
				.header__menu-link {
					color: #AF995C;
				}
			}
		};
	}
	// .header__menu-link
	&__menu-link {
		transition-duration: 0.3s;
		color: #fff;
	}
	// .header__questons
	&__questons {
		position: absolute;
		top: -100%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition-duration: 0.3s;
		padding: 7px 15px;
		white-space: nowrap;
		z-index: 2;
		&.active {
			top: 45%;
		}
		@media (max-width: 610px) {
			left: 0;
			transform: translate(0, -50%);
		};
		@media (max-width: 390px) {
			padding: 5px 10px;
			white-space: normal;
			word-break: break-all;
			max-width: 65px;
			font-size: 12px;
		};
	}
	// .header__phone
	&__phone {
		white-space: nowrap;
	}
	// .header__phone-link
	&__phone-link {
		color: #fff;
	}
	// .header__burger
	&__burger {
		@media (min-width: 1200px) {
			display: none;
		};
	}
}
//end heaer
//start show
.show {
	// .show__wrapper
	&__wrapper {
		position: relative;
		height: 100vh;
		// @media (max-width: 1367px) {
		// 	height: auto;
		// 	height: 100vh;
		// 	min-height: 650px;
		// 	max-height: 768px;
		// };
		// @media (max-width: 767.98px) {
		// 	max-height: 100%;
		// 	min-height: auto;
		// };
	}
	// .show__inner
	&__inner {
		height: 100vh;
		text-align: center;
		color: #fff;
		display: flex;
		justify-content: center;
		padding-bottom: 30px;
		padding-top: 170px;
		@media (max-width: 1470px) {
			padding-top: calc(100px + (160 - 100) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .show__bg
	&__bg {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 0;
	}
	// .show__picture
	&__picture {
		& source, img {
			width: 100%;
			height: 100%;
			max-height: 100%;
			object-fit: cover;
			object-position:center;
			// @media (max-width: 1280px) {
			// 	min-height: 100%;
			// };
		}
	}
	// .show__body
	&__body {
		position: relative;
		z-index: 2;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	// .show__title
	&__title {
		font-size: 82px;
		line-height: 98 / 82 * 100%;
		font-weight: 400;
		padding-bottom: 50px;
		:last-child {
			font-weight: 500;
		}
		@media (max-width: 1470px) {
			font-size: calc(25px + (82 - 25) * ((100vw - 320px) / (1470 - 320)));
			padding-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .show__text
	&__text {

	}
	// .show__subtitle
	&__subtitle {
		max-width: 550px;
		margin: 0 auto;
		font-size: 34px;
		line-height: 41 / 34 * 100%;
		font-weight: 400;
		&--marker {
			font-weight: 500;
		}
		@media (max-width: 1470px) {
			font-size: calc(18px + (34 - 18) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	&__subtitle, 
	&__note {
		margin-top: 50px;
		@media (max-width: 1470px) {
			margin-top: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .show__note
	&__note {
		margin-bottom: 75px;
	}
	// .show__button-box
	&__button-box {
		
	}
	// .show__button
	&__button {
		padding: 12px 30px;
		position: relative;
		&:before {
			position:absolute;
			content: "";
			bottom: 15px;
			right: -170px;
			width: 123px;
			height: 117px;
			background-image: url('../images/icons/arrow-curve.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			@media (max-width: 600px) {
				display: none;
			};
		}
	}
	// .show__scroll
	&__scroll {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		transition-duration: 0.3s;
		@media (min-width: 991.98px) {
			&:hover {
				bottom: -4px;
			}
		};
	}
	// .show__scroll-btn
	&__scroll-btn {
		width: 70px;
		height: 70px;
		background-color: transparent;
		background-image: url('../images/icons/scroll.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		@media (max-width: 1470px) {
			width: calc(25px + (70 - 25) * ((100vw - 320px) / (1470 - 320)));
			height: calc(25px + (70 - 25) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .show__scroll-top
	&__scroll-top {

	}
	// .show__scroll-top-btn
	&__scroll-top-btn {
		
	}
}
//end show
//start welcome
.welcome {
	// .welcome__wrapper
	&__wrapper {
		background-color: #F0ECE4;
	}
	// .welcome__inner
	&__inner {
	}
	// .welcome__title
	&__title {
	}
	// .welcome__body
	&__body {
		margin-top: 50px;
		@media (max-width: 1470px) {
			margin-top: calc(15px + (50 - 15) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (min-width: 991.98px) {
			display: flex;
		};
	}
	&__video-box, 
	&__text-box {
		flex: 1 1 50%;
	}
	// .welcome__video-box
	&__video-box {
		text-align: center;
		@media (max-width: 991.98px) {
			margin-bottom: 30px;
		};
		@media (max-width: 479.98px) {
			margin-bottom: 15px;
		};
	}
	// .welcome__promo
	&__promo {
		width: 100%;
	}
	// .welcome__promo-poster
	&__promo-poster {
		position: relative;
		border-radius: 20px;
		overflow: hidden;
		&:before {
			position:absolute;
			content: "";
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 115px;
			height: 115px;
			background-image: url('../images/icons/play.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			transition-duration: 0.3s;
			@media (max-width: 1470px) {
				width: calc(50px + (115 - 50) * ((100vw - 320px) / (1470 - 320)));
				height: calc(50px + (115 - 50) * ((100vw - 320px) / (1470 - 320)));
			};
		}
		@media (min-width: 991.98px) {
			&:hover {
				&:before {
					width: 125px;
					height: 125px;
				}
			}
		};
	}
	// .welcome__picture
	&__picture {
		width: 100%;
		& source, img {
			max-width: 100%;
			object-fit: cover;
			object-position:center;
		}
	}
	// .welcome__text-box
	&__text-box {
		@media (min-width: 991.98px) {
			margin-left: 30px;
		};
	}
	// .welcome__text
	&__text {
		&--thin, 
		&--typs {

		}
		&--thin {
			font-family: Montserrat;
			font-size: 16px;
			line-height: 24 / 16 * 100%;
			color: #0C0C0C;
			margin-top: 20px;
			@media (max-width: 1470px) {
				font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1470 - 320)));
			};
		}
		&--typs {
			margin-top: 30px;
			font-family: Montserrat;
			font-weight: 400;
			font-size: 21px;
			line-height: 25 / 21 * 100%;
			@media (max-width: 1470px) {
				font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1470 - 320)));
				margin-top: calc(16px + (30 - 16) * ((100vw - 320px) / (1470 - 320)));
			};
		}
	}
	// .welcome__text-bold
	&__text-bold {
	}
	// .welcome__text-paragraf
	&__text-paragraf {
	}
	// .welcome__text-marker
	&__text-marker {
		font-family: 'Fira Sans';
	}
}
//end welcome
// start procedure
.procedure {
	// .procedure__wrapper
	&__wrapper {
		width: 100%;
		height: 100%;
		position: relative;
	}
	// .procedure__inner
	&__inner {
		position: relative;
		z-index: 3;
	}
	// .procedure__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		text-align: center;
	}
	// .procedure__bg-cont
	&__bg-cont {

	}
	// .procedure__picture
	&__picture {
		& source, img {
			width: 100%;
			height: 100%;
			max-height: 100%;
			object-fit: cover;
			object-position: center;
			// @media (max-width: 1280px) {
			// 	min-height: 100%;
			// };
		}
	}
	// .procedure__title
	&__title {
		text-shadow: none;
		color: #fff;
	}
	// .procedure__row
	&__row {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
		margin-left: -15px;
		margin-right: -15px;
		@media (max-width: 1470px) {
			margin-top: calc(15px + (50 - 15) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (max-width: 1100px) {
			justify-content: center;
			flex-wrap: wrap;
		};
	}
	// .procedure__item
	&__item {
		max-width: 380px;
		text-align: center;
		@media (max-width: 1100px) {
			max-width: 320px;
		};
	}
	// .procedure__item-body
	&__item-body {
		padding: 15px;
	}
	// .procedure__image-box
	&__image-box {
		width: 100%;
	}
	// .procedure__image-body
	&__image-body {
		width: 100%;
		min-height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 1470px) {
			min-height: calc(70px + (100 - 70) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .procedure__image
	&__image {
		max-width: 100px;
		object-fit: cover;
		@media (max-width: 1470px) {
			max-width: calc(60px + (100 - 60) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	&__heading, 
	&__text {
		margin-top: 20px;
		color: #fff;
	}
	// .procedure__heading
	&__heading {
		
	}
	// .procedure__text
	&__text {
	
	}
}
// end procedure
// start popular
.popular {
	// .popular__wrapper
	&__wrapper {
		background-color: #f0ece4;
	}
	// .popular__inner
	&__inner {
	}
	// .popular__title
	&__title {
	}
	// .popular__body
	&__body {
		margin-top: 50px;
		@media (max-width: 1470px) {
			margin-top: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .popular__button-box
	&__button-box {
		margin: 0 20px;
		margin-top: 100px;
		text-align: center;
		@media (max-width: 1470px) {
			margin-top: calc(25px + (100 - 25) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .popular__button
	&__button {
		padding: 13px 30px;
	}
}

.card {
	// .card__row
	&__row {
		display: flex;
		justify-content: center;
		margin: 0 -10px;
		@media (max-width: 991.98px) {
			flex-wrap: wrap;
		};
	}
	// .card__card
	&__card {
		width: 100%;
		max-width: 360px;
		padding: 10px;
		@media (max-width: 767.98px) {
			max-width: 50%;
		};
		@media (max-width: 479.98px) {
			max-width: 100%;
			max-width: 360px;
		};
	}
	// .card__inn
	&__inn {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100%;
		text-align: center;
		border-radius: 40px;
		background-color: #fff;
		overflow: hidden;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
		transition-duration: 0.3s;
		@media (min-width: 991.98px) {
			&:hover {
				box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
			}
		};
	}
	// .card__content
	&__content {
		flex: 1 0 auto;
	}
	// .card__title-box
	&__title-box {
		padding: 0 15px;
	}
	// .card__image
	&__image {
		overflow: hidden;
		width: 100%;
		max-width: 340px;
		@media (min-width: 991.98px) {
			&:hover {
				& source, img {
					transform: scale(1.1);
				}
			}
		};
	}
	// .card__picture
	&__picture {
		width: 100%;
		& source, img {
			max-width: 100%;
			object-fit: cover;
			object-position:center;
			transition-duration: 3s;
		}
	}
	// .card__title
	&__title {
		max-width: 250px;
		margin: 20px auto 20px;
		transition-duration: 0.3s;
		color: #0C0C0C;
		&:visited, 
		&:active {
			color: inherit;
		}
		@media (min-width: 991.98px) {
			&:hover {
				opacity: 0.7;
			}
		};
	}
	// .card__count
	&__count {
		font-size: 34px;
		font-weight: 500;
		margin-bottom: 20px;
		@media (max-width: 1470px) {
			font-size: calc(25px + (34 - 25) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .card__num
	&__num {
		position: relative;
		padding-right: 66px;
		&:before {
			position:absolute;
			content: "руб";
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
		@media (max-width: 1470px) {
			padding-right: calc(45px + (66 - 45) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .card__button
	&__button {
		flex: 0 0 auto;
		margin-bottom: 20px;
	}
	// .card__button-link
	&__button-link {
		padding: 16px 30px;
	}
}
// end popular
//start advantages
.advantages {
	// .advantages__wrapper
	&__wrapper {
		width: 100%;
		height: 100%;
		position: relative;
	}
	// .advantages__inner
	&__inner {
		position: relative;
		z-index: 3;
	}
	// advantagese__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		text-align: center;
	}
	// .advantages__bg-cont
	&__bg-cont {

	}
	// .advantages__picture
	&__picture {
		& source, img {
			width: 100%;
			height: 100%;
			max-height: 100%;
			object-fit: cover;
			object-position: center;
			// @media (max-width: 1280px) {
			// 	min-height: 100%;
			// };
		}
	}
	// .advantages__inner
	&__inner {
	}
	// .advantages__title
	&__title {
		text-shadow: none;
		color: #fff;
	}
	// .advantages__row
	&__row {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
		@media (max-width: 767.98px) {
			flex-wrap: wrap;
			justify-content: center;
			margin: 30px -15px 0;
		};
	}
	// .advantages__item
	&__item {
		flex: 1 1 25%;
		@media (max-width: 767.98px) {
			flex: 1 1 auto;
			max-width: 50%;
			padding: 15px;
		};
	}
	// .advantages__item-body
	&__item-body {
		text-align: center;
	}
	// .advantages__image-box
	&__image-box {
	}
	// .advantages__image-body
	&__image-body {
		max-width: 100px;
		margin: 0 auto;
	}
	// .advantages__image
	&__image {
	}
	// .advantages__heading
	&__heading {
		margin-top: 20px;
		color: #fff;
	}
}
//end advantages
//start feedback
.feedback {
	// .feedback__wrapper
	&__wrapper {
		background-color: #f0ece4;
	}
	// .feedback__inner
	&__inner {
	}
	// .feedback__title
	&__title {
	}
	// .feedback__body
	&__body {
		position: relative;
		margin-top: 50px;
	}
	// .feedback__cont
	&__cont {
		width: 100%;
		overflow: hidden;
		transition-duration: 0.3s;
	}
	// .feedback__wrap
	&__wrap {
		width: 100%;
		display: flex;
	}
	// .feedback__item
	&__item {
		width: 100%;
		flex-shrink: 0;
		max-width: 1100px;
		@media (max-width: 1470px) {
			max-width: calc(200px + (1100 - 200) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (max-width: 520px) {
			max-width: 100%;
		};
	}
	// .feedback__content
	&__content {
		width: 100%;

		@media (min-width: 991.98px) {
			display: flex;
		};
	}
	// .feedback__avatar
	&__avatar {
		width: 100%;
		flex: 1 0 224px;
		max-width: 224px;
		border-radius: 50%;
		overflow: hidden;
		height: 224px;
		@media (max-width: 1470px) {
			max-width: calc(100px + (224 - 100) * ((100vw - 320px) / (1470 - 320)));
			height: calc(100px + (224 - 100) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (max-width: 991.98px) {
			margin: 0 auto;
		};
	}
	// .feedback__picture
	&__picture {
		width: 100%;
		& source, img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position:center;
			border-radius: 50%;
		}
	}
	// .feedback__discription
	&__discription {
		@media (min-width: 991.98px) {
			margin-left: 50px;
		};
	}
	// .feedback__name
	&__name {
		font-size: 34px;
		font-weight: 500;
		@media (max-width: 1470px) {
			font-size: calc(22px + (34 - 22) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (max-width: 991.98px) {
			text-align: center;
			margin-top: 20px;
		};
	}
	// .feedback__box
	&__box {
		display: flex;
		justify-content: space-between;
		margin: 20px 0;
	}
	// .feedback__product
	&__product {
		margin-right: 15px;
	}
	// .feedback__date
	&__date {
		color: #8b8b8b;
		font-weight: 400;
	}
	// .feedback__text
	&__text {
		font-weight: 400;
	}
	// .feedback__paragraf
	&__paragraf {
	}
	// .feedback__button-box
	&__button-box {
		@media (max-width: 520px) {
			margin-bottom: 20px;
			text-align: right;
		};
	}
	&__button-next, 
	&__button-prev {
		position: absolute;
		top: 50%;
		z-index: 20;
		transform: translateY(-50%);
		height: 100%;
		width: 90px;
		background-color: #f0ece4;
		&:before {
			position:absolute;
			content: "";
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 28px;
			height: 50px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			@media (max-width: 520px) {
				width: 20px;
				height: 38px;
			};
		}
		&.swiper-button-disabled {
			&:before {
				opacity: 0.6;
			}
		}
		@media (max-width: 820px) {
			width: 50px;
		};
		@media (max-width: 520px) {
			position: static;
			transform: translateY(0);
			width: 50px;
			height: 50px;
			border: 1px solid #AF995C;
		};
	}
	// .feedback__button-next
	&__button-next {
		right: 0;
		&:before {
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.8235 24.9884L1.09572 46.7162C0.344576 47.4675 0.344576 48.6855 1.09572 49.4367C1.8471 50.1878 3.06497 50.1878 3.81623 49.4367L26.9043 26.3487C27.6553 25.5974 27.6553 24.3795 26.9043 23.6282L3.81623 0.540165C3.0519 -0.198021 1.83391 -0.176826 1.09572 0.587517C0.37569 1.33314 0.37569 2.51516 1.09572 3.26068L22.8235 24.9884Z' fill='%230C0C0C'/%3E%3C/svg%3E%0A");
		}
	}
	// .feedback__button-prev
	&__button-prev {
		left: 0;
		&:before {
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.17651 25.0116L26.9043 3.28379C27.6554 2.53252 27.6554 1.31454 26.9043 0.563278C26.1529 -0.187759 24.935 -0.187759 24.1838 0.563278L1.09575 23.6513C0.344711 24.4026 0.344711 25.6205 1.09575 26.3718L24.1838 49.4598C24.9481 50.198 26.1661 50.1768 26.9043 49.4125C27.6243 48.6669 27.6243 47.4848 26.9043 46.7393L5.17651 25.0116Z' fill='%230C0C0C'/%3E%3C/svg%3E%0A");
		}
	}
}
//end feedback
//start blog
.blog {
	// .blog__wrapper
	&__wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		color: #fff;
	}
	// .blog__inner
	&__inner {
		position: relative;
		z-index: 3;
	}
	// blog__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		text-align: center;
	}
	// .blog__picture
	&__picture {
		& source, img {
			width: 100%;
			height: 100%;
			max-height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// .blog__image-picture
	&__image-picture {
		& source, img {
			width: 100%;
			height: 100%;
			max-height: 100%;
			object-fit: cover;
			object-position: center;
			transition-duration: 2.5s;
			transform: scale(1);
		}
	}
	// .blog__title
	&__title {
		text-shadow: none;
	}
	// .blog__row
	&__row {
		margin: 0 -7.5px;
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		@media (max-width: 1470px) {
			margin-top: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (max-width: 767.98px) {
			flex-direction: column;
		};
	}
	// .blog__item
	&__item {
		padding: 15px;
		width: 100%;
		max-width: 380px;
		@media (max-width: 767.98px) {
			max-width: 100%;
			padding: 15px 0;
		};
	}
	// .blog__item-body
	&__item-body {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100%;
		background-color: rgba(0, 0, 0, 0.45);
		border-radius: 8px;
		transition-duration: 1s;
		backdrop-filter: blur(8px);
		@media (min-width: 991.98px) {
			&:hover {
				backdrop-filter: blur(0);
				.blog__image-picture {
					& source, img {
						transform: scale(1.05);
					}
				}
			}
		};
		@media (max-width: 767.98px) {
			flex-direction: row;
		};
	}
	// .blog__image
	&__image {
		width: 100%;
		text-align: center;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		overflow: hidden;
		@media (max-width: 767.98px) {
			border-top-left-radius: 8px;
			border-top-right-radius: 0;
			border-bottom-left-radius: 8px;
			max-width: 250px;
			@media (max-width: 767px) {
				max-width: calc(70px + (250 - 70) * ((100vw - 320px) / (767 - 320)));
			};
		};
	}
	// .blog__picture
	&__picture {
		width: 100%;
		& source, img {
			max-width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// .blog__text-box
	&__text-box {
		color: #fff;
		padding: 0 20px 40px;
		@media (max-width: 767.98px) {
			padding: 0 20px 20px;
			flex: 0 1 100%;
		};
	}
	// .blog__item-title
	&__item-title {
		margin: 20px 0 30px;
		min-height: 75px;
		@media (max-width: 767.98px) {
			min-height: auto;
		};
	}
	// .blog__text
	&__text {
		font-size: 16px;
		font-weight: 400;
		line-height: 19 / 16 * 100%;
		@media (max-width: 1470px) {
			font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .blog__button-box
	&__button-box {
		width: 100%;
		text-align: center;
	}
	// .blog__button
	&__button {
		padding: 15px 30px;
		margin-top: 35px;
		@media (max-width: 1470px) {
			margin-top: calc(20px + (35 - 20) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .blog__info
	&__info {
		text-align: center;
		margin-top: 30px;
		font-family: Montserrat;
		font-size: 13px;
		line-height: 16 / 13 * 100%;
		font-weight: 400;
		@media (max-width: 479.98px) {
			font-size: 11px;
			line-height: 20 / 11 * 100%;
		};
	}
	// .blogblog__info-link
	&__info-link {
		position: relative;
		color: #fff;
		transition-duration: 0.3s;
		&:before {
			position:absolute;
			content: "";
			bottom: -5px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #AF995C;
			@media (max-width: 479.98px) {
				bottom: -2px;
			};
		}
		@media (min-width: 991.98px) {
			&:hover {
				color: #AF995C;
			}
		};
	}
}
//end blog
//start galary
.galary {
	// .galary__wrapper
	&__wrapper {
		background-color: #f0ece4;
	}
	// .galary__inner
	&__inner {
	}
	// .galary__title
	&__title {
	}
	// .galary__body
	&__body {
		padding-right: 50px;
		padding-left: 50px;
		margin-top: 50px;
		@media (max-width: 1470px) {
			padding-left: calc(0px + (50 - 0) * ((100vw - 320px) / (1470 - 320)));
			padding-right: calc(0px + (50 - 0) * ((100vw - 320px) / (1470 - 320)));
			margin-top: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .galary__row
	&__row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 -5px;
		@media (max-width: 767.98px) {
			margin: 0 -2.5px;
		};
	}

	// .galary__image
	&__image {
		width: 100%;
		padding: 5px 2.5px;
		overflow: hidden;
		&--1, 
		&--2, 
		&--3, 
		&--4, 
		&--5 {
			height: 163px;
			@media (max-width: 1470px) {
				height: calc(60px + (163 - 60) * ((100vw - 320px) / (1470 - 320)));
			};
		}

		&--1 {
			flex: 1 1 266px;
			max-width: 266px;
		}
		&--2, 
		&--3, 
		&--4 {
			max-width: 281px;
			flex: 1 1 281px;
		}
		&--5 {
			max-width: 200px;
			flex: 1 1 200px;
		}

		&--6, 
		&--7, 
		&--8, 
		&--9, 
		&--10 {
			height: 175px;
			@media (max-width: 1470px) {
				height: calc(60px + (175 - 60) * ((100vw - 320px) / (1470 - 320)));
			};
		}

		&--6 {
			max-width: 247px;
			flex: 1 1 247px;
		}
		&--7 {
			max-width: 242px;
			flex: 1 1 242px;
		}
		&--8 {
			max-width: 334px;
			flex: 1 1 334px;
		}
		&--9 {
			max-width: 241px;
			flex: 1 1 241px;
		}
		&--10 {
			max-width: 249px;
			flex: 1 1 249px;
		}

		&--11, 
		&--12, 
		&--13, 
		&--14, 
		&--15, 
		&--16 {
			height: 155px;
			@media (max-width: 1470px) {
				height: calc(60px + (155 - 60) * ((100vw - 320px) / (1470 - 320)));
			};
		}

		&--11 {
			max-width: 228px;
			flex: 1 1 228px;
		}
		&--12 {
			max-width: 263px;
			flex: 1 1 263px;
		}
		&--13 {
			max-width: 240px;
			flex: 1 1 240px;
		}
		&--14 {
			max-width: 128px;
			flex: 1 1 128px;
		}
		&--15 {
			max-width: 201px;
			flex: 1 1 201px;
		}
		&--16 {
			max-width: 249px;
			flex: 1 1 249px;
		}

		&--17, 
		&--18, 
		&--19, 
		&--20, 
		&--21, 
		&--22 {
			height: 163px;
			@media (max-width: 1470px) {
				height: calc(60px + (163 - 60) * ((100vw - 320px) / (1470 - 320)));
			};
		}

		&--17 {
			max-width: 261px;
			flex: 1 1 261px;
		}
		&--18 {
			max-width: 175px;
			flex: 1 1 175px;
		}
		&--19 {
			max-width: 179px;
			flex: 1 1 179px;
		}
		&--20 {
			max-width: 173px;
			flex: 1 1 173px;
		}
		&--21 {
			max-width: 261px;
			flex: 1 1 261px;
		}
		&--22 {
			max-width: 249px;
			flex: 1 1 249px;
		}

		@media (max-width: 767.98px) {
			padding: 2.5px;
			flex-basis: 100%;
			max-width: 100%;
		};
	}
	// .galary__picture
	&__picture {
		width: 100%;
		& source, img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position:center;
		}
	}
}
//end galary
//start contacts
.contacts {
	// .contacts__wrapper
	&__wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		color: #fff;
	}
	// .contacts__inner
	&__inner {
		position: relative;
		z-index: 3;
		max-width: 706px;
		margin: 0 auto;
	}
	// contacts__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		text-align: center;
	}
	// .contacts__picture
	&__picture {
		& source, img {
			width: 100%;
			height: 100%;
			max-height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// .contacts__inner
	&__inner {
	}
	// .contacts__title
	&__title {
		text-shadow: none;
	}
}
.form {
	// .form__form
	&__form {
		position: relative;
		&.sending {
			&:before {
				position:absolute;
				content: "";
				top:0;
				left:0;
				width: 100%;
				height: 100%;
				background-color: transparent;
				opacity: 0.5;
				z-index: 10;
			}
		}
	}
	// .form__label
	&__label {
		display: block;
		position: relative;
		flex: 1 1 100%;
		text-align: center;
		&--name, 
		&--contacts {
			&.error {
				box-shadow: 0px 0px 15px rgba(252, 45, 45, 1);
			}
			&.complete {
				box-shadow: 0px 0px 15px rgba(35, 250, 42, 1);
			}
		}
	}
	// .form__massage
	&__massage {
		position: absolute;
		top: 7px;
		right: 10px;
		color: red;
		font-size: 12px;
	}
	// .form__input
	&__textarea, 
	&__input {
		padding: 0 15px;
		height: 56px;
		width: 100%;
		box-shadow: inset 2px 2px 16px rgba(0, 0, 0, 0.3);
		border-radius: 8px;
		background-color: rgba(255, 255, 255, 0.6);
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 400;
		&::placeholder {
			color: rgba(12, 12, 12, 0.55);
			font-family: Montserrat;
			font-size: 16px;
			font-weight: 400;
			@media (max-width: 479.98px) {
				font-size: 14px;
			};
		}
		&:focus {
			box-shadow: 
			inset 2px 2px 16px rgba(0, 0, 0, 0.6),
				2px 2px 16px rgba(0, 0, 0, 0.6);
		}
	}
	// form__textarea
	&__textarea {
		min-height: 136px;
		padding: 10px;
		resize: vertical;
		overflow: hidden;
		&::placeholder {
			line-height: 21px;
		}
	}
	// .form__shell
	&__shell {
		width: 100%;
		display: flex;
		justify-content: center;
		+ .form__shell {
			margin-top: 20px;
		}
		&--button {
			margin-top: 50px;
			@media (max-width: 1470px) {
				margin-top: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
			};
		}
	}
	// .form__button
	&__button {
		padding: 15px 0;
		width: 100%;
		max-width: 100%;
		transition: all 0.3s ease 0s;
		&:focus {
			box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.3);
		}
	}
	&__input{
		&::placeholder  {
			line-height: 40px;
		}
	}
}

.send {
	margin-top: 50px;
	opacity: 1;
	visibility: visible;
	position: static;
	&.active {
		opacity: 0;
		visibility: hidden;
		position: absolute;
	}
	&--popup {
		position: relative;
		max-width: 700px;
		margin: 0 auto;
		background-color: #F0ECE4;
		
		border-radius: 8px;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 70px;
		padding-right: 70px;
		&.active-bg {
			background-color: transparent;
		}
		@media (max-width: 1470px) {
			padding-top: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
			padding-bottom: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
			padding-left: calc(25px + (70 - 25) * ((100vw - 320px) / (1470 - 320)));
			padding-right: calc(25px + (70 - 25) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	@media (max-width: 1470px) {
		margin-top: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
	};
	// .send__container
	&__container {
		opacity: 1;
		visibility: visible;
		position: static;
		&.active {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			z-index: -10;
		}
	}
	// .send__title
	&__title {
		text-align: center;
		margin-bottom: 50px;
		font-weight: 500;
		font-size: 24px;
		line-height: 25 / 30 * 100%;
		color: #000;
		@media (max-width: 1470px) {
			margin-bottom: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
			font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .send__policy
	&__policy {
		margin-top: 30px;
		text-align: center;
		color: #fff;
		font-family: Montserrat;
		font-weight: 300;
		font-size: 13px;
		line-height: 16 / 13 * 100%;
		&--popup {
			color: inherit;
		}
		@media (max-width: 1470px) {
			font-size: calc(10px + (13 - 10) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .send__policy-link
	&__policy-link {
		color: #fff;
		text-decoration: underline;
		&--popup {
			color: inherit;
		}
	}
	// .send__connection
	&__connection {
		width: 100%;
		text-align: center;
	}
	// .send__connection-text
	&__connection-text {
		margin-top: 50px;
		margin-bottom: 50px;
		font-weight: 400;
		font-size: 20px;
		line-height: 20 / 26 * 100%;
		color: #000;
		&.re-color {
			color: #fff;
		}
		@media (max-width: 1470px) {
			font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1470 - 320)));
			margin-top: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
			margin-bottom: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .send__connection-link
	// &__connection-link {
	// 	@media (max-width: 479.98px) {
	// 		margin-top: 8px;
	// 	};
	// }
	// .send__social
	&__social {
		display: flex;
		justify-content: space-between;
		max-width: 450px;
		margin: 0 auto;
	}
	// .send__social-box
	&__social-box {
		width: 100%;
		width: 50px;
		+ .send__social-box {
			margin-left: 10px;
		}
		@media (min-width: 991.98px) {
			&:hover {
				.header__icon-svg{
					transform: translateY(-3px);
					transition-duration: 0.3s;
				}
			}
		};
	}
	// .header__icon-svg
	&__icon-svg {
		transition-duration: 0.3s;
		width: 50px;
		height: 50px;
		fill: #AF995C;
	}
	// .send__connection-phone
	&__connection-phone {
		color: #000;
		white-space: nowrap;
		&.re-color {
			color: #fff;
		}
		@media (max-width: 600px) {
			margin-top: 15px;
		};
	}
}
//end contacts
//start footer
.footer {
	// .footer__wrapper
	&__wrapper {
		background-color: #0C0C0C;
		padding: 16px 0;
	}
	// .footer__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 767.98px) {
			flex-wrap: wrap;
		};
	}
	// .footer__logo
	&__logo {
		width: 100%;
		max-width: 215px;
		@media (max-width: 767.98px) {
			order: 1;
		};
		@media (max-width: 479.98px) {
			max-width: 120px;
		};
	}
	// .footer__social
	&__social {
		width: 100%;
		max-width: 570px;
		margin: 0 20px;
		@media (max-width: 767.98px) {
			order: 3;
			margin: 30px auto 0;
		};
	}
	// .footer__social-media
	&__social-media {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 -15px
	}
	// .footer__social-box
	&__social-box {
		width: 100%;
		width: 48px;
		margin: 0 15px;
		@media (min-width: 991.98px) {
			&:hover {
				.header__icon-svg{
					fill: #AF995C;
					transform: translateY(-3px);
					transition-duration: 0.3s;
				}
			}
		};
	}
	// .footer__icon-svg
	&__icon-svg {
		transition-duration: 0.3s;
		width: 48px;
		height: 48px;
		fill: #fff;
	}
	// .footer__copyright
	&__copyright {
		color: #fff;
		margin-top: 20px;
		text-align: center;
		font-family: Montserrat;
		font-size: 14px;
		@media (max-width: 1470px) {
			font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .footer__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		@media (max-width: 767.98px) {
			order: 2;
		};
	}
	&__contacts-phone, 
	&__contacts-email {
		color: #fff;
		font-size: 21px;
		font-weight: 500;
		@media (max-width: 1470px) {
			font-size: calc(14px + (21 - 14) * ((100vw - 320px) / (1470 - 320)));
		};
		@media (min-width: 991.98px) {
			&:hover {
				color: #AF995C;
			}
		};
	}
	// .footer__contacts-phone
	&__contacts-phone {
	}
	// .footer__contacts-email
	&__contacts-email {
		margin-top: 30px;
	}
}
//end footer
//start complite
.complite {
	// .complite__body
	&__body {
		text-align: center;
		color: #fff;
	}
	// .complite__title
	&__title {
		text-shadow: none;
	}
	// .complite__complite
	&__complite {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		&.active {
			display: block;
		}
	}
	// .complite__text
	&__text {
		font-size: 30px;
		line-height: 36 / 30 *100%;
		@media (max-width: 1470px) {
			font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1470 - 320)));
		};
	}
	// .complite__check
	&__check {
		max-width: 178px;
		margin: 50px auto 30px;
		@media (max-width: 479.98px) {
			max-width: 100px;
			margin: 30px auto 15px;
		};
	}
	// .complite__check-image
	&__check-image {
		width: 100%;
		object-fit: cover;
		object-position:center;
	}
	// .complite__afterword
	&__afterword {
		font-weight: 400;
		font-size: 16px;
		line-height: 22 / 16 * 100%;
		&--complite {
			margin-top: 60px;
			margin-bottom: 60px;
			@media (max-width: 1470px) {
				margin-top: calc(25px + (60 - 25) * ((100vw - 320px) / (1470 - 320)));
				margin-bottom: calc(25px + (60 - 25) * ((100vw - 320px) / (1470 - 320)));
			};
		}
	}
}
//end complite