@import "_null.scss";
// @import "_libs.scss";
@import "_fonts.scss";

body {
	font-family: 'Fira Sans', sans-serif;
	color: #0C0C0C;
	&.lock {
		overflow-x: hidden;
	}
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container, 
.container-fluid {
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}

.container {
	max-width: 1470px;
}

.container-fluid {
	max-width: 1900px;
}

@import "_global_style.scss";
@import "_content.scss";


