* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  font-size: 0;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Medium"), local("FiraSans-Medium"), url("../fonts/FiraSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Light"), local("FiraSans-Light"), url("../fonts/FiraSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("../fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("../fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Medium"), local("FiraSans-Medium"), url("../fonts/FiraSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Light"), local("FiraSans-Light"), url("../fonts/FiraSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: #0C0C0C;
}

body.lock {
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.content {
  flex: 1 0 auto;
  margin-right: 0;
}

.footer {
  flex: 0 0 auto;
}

.container,
.container-fluid {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 1470px;
}

.container-fluid {
  max-width: 1917px;
}

.menu-burger__icon {
  display: none;
  margin-left: 20px;
  width: 30px;
  height: 20px;
  position: relative;
  transition-duration: 0.7s;
}

.menu-burger__icon:before {
  top: 0;
}

.menu-burger__icon:after {
  bottom: 0;
}

.menu-burger__icon:before,
.menu-burger__icon:after,
.menu-burger__icon .menu-burger__middle {
  position: absolute;
  content: "";
  left: 0;
  height: 4px;
  width: 30px;
  background-color: #fff;
  display: inline-block;
  transition-duration: 0.3s;
}

.menu-burger__icon.active {
  z-index: 7;
  transition-duration: 0.7s;
}

.menu-burger__icon.active:before {
  transform: translateY(0) rotate(-45deg);
}

.menu-burger__icon.active:after {
  transform: translateY(0) rotate(45deg);
}

.menu-burger__icon.active:before,
.menu-burger__icon.active:after {
  background-color: #fff;
  transition-duration: 0.3s;
  top: 50%;
}

.menu-burger__icon.active .menu-burger__middle {
  transform: scale(0.1, 0.2);
  transition-duration: 0.7s;
}

.menu-burger__middle {
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 0.7s;
}

.menu-burger__container {
  display: none;
}

.menu-burger__list {
  padding: 100px 30px 0;
}

.menu-burger__item {
  width: 100%;
  margin: 30px 0;
  border-radius: 10px;
  background-color: #282834;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-burger__link {
  text-align: center;
  padding: 20px 0;
  width: 100%;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.menu-burger__dinamic {
  text-align: center;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 9999;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  width: 100%;
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: transparent;
  max-width: 1250px;
  padding: 40px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__title {
  max-width: 1200px;
}

.popup__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  transition-duration: 0.3s;
  transform: scale(1) rotate(0deg);
  z-index: 50;
}

.popup__close:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 24px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.16116 22.0369L10 11.9591M10 11.9591L18.8388 1.88127M10 11.9591L18.8388 22.0369M10 11.9591L1.16116 1.88127' stroke='%23AF995C' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.main-text {
  font-weight: 500;
  font-size: 21px;
  line-height: 119.04762%;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  letter-spacing: 0.05em;
  padding-bottom: 60px;
  text-shadow: -0   -1px 0   #AF995C, 0   -1px 0   #AF995C, -0    1px 0   #AF995C, 0    1px 0   #AF995C, -1px -0   0   #AF995C, 1px -0   0   #AF995C, -1px  0   0   #AF995C, 1px  0   0   #AF995C, -1px -1px 0   #AF995C, 1px -1px 0   #AF995C, -1px  1px 0   #AF995C, 1px  1px 0   #AF995C, -1px -1px 0   #AF995C, 1px -1px 0   #AF995C, -1px  1px 0   #AF995C, 1px  1px 0   #AF995C;
}

.btn {
  background-color: #AF995C;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  color: #fff;
  text-align: center;
}

.noise:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/noise/noise.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  opacity: 0.02;
}

.noise:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 45px 50px rgba(0, 0, 0, 0.4);
}

.padding-max {
  padding-top: 150px;
  padding-bottom: 150px;
}

.padding-min {
  padding-top: 60px;
  padding-bottom: 40px;
}

.scroll-top {
  position: fixed;
  z-index: 9999;
  background-color: transparent;
  bottom: 37px;
  right: 45px;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(175, 153, 92, 0.4);
  box-sizing: border-box;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.scroll-top:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 10px;
  background-image: url("../images/icons/arrow-to-top.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.decore-white,
.decore-gold {
  position: relative;
}

.decore-white:before,
.decore-gold:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 44px;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.decore-gold:before {
  background-image: url("../images/icons/decore-gold.svg");
}

.decore-white:before {
  background-image: url("../images/icons/decore-white.svg");
}

.promo-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.2%;
  border-radius: 20px;
  overflow: hidden;
}

.promo-video video,
.promo-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.header {
  position: relative;
  z-index: 500;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.65);
}

.header__inner {
  position: relative;
  z-index: 55;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 0.3s ease 0s;
}

.header__inner.active {
  height: 50px;
}

.header__logo-box {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  flex: 1 0 162px;
  max-width: 162px;
  transition-duration: 0.3s;
}

.header__logo-box.active {
  top: -100%;
}

.header__logo {
  width: 100%;
}

.header__logo-image {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.header__social-media {
  max-width: 100%;
  display: flex;
}

.header__social-box {
  width: 100%;
  width: 30px;
}

.header__social-box + .header__social-box {
  margin-left: 10px;
}

.header__icon-svg {
  transition-duration: 0.3s;
  width: 30px;
  height: 30px;
  fill: #fff;
}

.header__nav-body {
  width: 100%;
}

.header__nav-inn {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  width: 100%;
  max-width: 340px;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
}

.header__menu-link {
  transition-duration: 0.3s;
  color: #fff;
}

.header__questons {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
  padding: 7px 15px;
  white-space: nowrap;
  z-index: 2;
}

.header__questons.active {
  top: 45%;
}

.header__phone {
  white-space: nowrap;
}

.header__phone-link {
  position: relative;
  color: #fff;
  transition-duration: 0.3s;
  padding-right: 40px;
}

.header__phone-link:before {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 25px;
  height: 26px;
  transform: translateY(-50%);
  background-image: url("../images/icons/wa-color.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition-duration: 0.3s;
}

.show__wrapper {
  position: relative;
  height: 100vh;
}

.show__inner {
  height: 100vh;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 160px;
}

.show__bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.show__picture source,
.show__picture img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.show__body {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.show__title {
  font-size: 82px;
  line-height: 119.5122%;
  font-weight: 400;
  padding-bottom: 50px;
}

.show__title :last-child {
  font-weight: 500;
}

.show__subtitle {
  max-width: 550px;
  margin: 0 auto;
  font-size: 34px;
  line-height: 120.58824%;
  font-weight: 400;
}

.show__subtitle--marker {
  font-weight: 500;
}

.show__subtitle,
.show__note {
  margin-top: 50px;
}

.show__note {
  margin-bottom: 75px;
}

.show__button {
  padding: 12px 30px;
  position: relative;
}

.show__button:before {
  position: absolute;
  content: "";
  bottom: 15px;
  right: -170px;
  width: 123px;
  height: 117px;
  background-image: url("../images/icons/arrow-curve.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.show__scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 0.3s;
}

.show__scroll-btn {
  width: 70px;
  height: 70px;
  background-color: transparent;
  background-image: url("../images/icons/scroll.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.welcome__wrapper {
  background-color: #F0ECE4;
}

.welcome__body {
  margin-top: 50px;
}

.welcome__video-box,
.welcome__text-box {
  flex: 1 1 50%;
}

.welcome__video-box {
  text-align: center;
}

.welcome__promo {
  width: 100%;
}

.welcome__promo-poster {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.welcome__promo-poster:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background-image: url("../images/icons/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-duration: 0.3s;
}

.welcome__picture {
  width: 100%;
}

.welcome__picture source,
.welcome__picture img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.welcome__text--thin {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 150%;
  color: #0C0C0C;
  margin-top: 20px;
}

.welcome__text--typs {
  margin-top: 30px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 21px;
  line-height: 119.04762%;
}

.welcome__text-marker {
  font-family: 'Fira Sans';
}

.procedure__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.procedure__inner {
  position: relative;
  z-index: 3;
}

.procedure__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  text-align: center;
}

.procedure__picture source,
.procedure__picture img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.procedure__title {
  text-shadow: none;
  color: #fff;
}

.procedure__row {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: -15px;
  margin-right: -15px;
}

.procedure__item {
  max-width: 380px;
  text-align: center;
}

.procedure__item-body {
  padding: 15px;
}

.procedure__image-box {
  width: 100%;
}

.procedure__image-body {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.procedure__image {
  max-width: 100px;
  -o-object-fit: cover;
  object-fit: cover;
}

.procedure__heading,
.procedure__text {
  margin-top: 20px;
  color: #fff;
}

@media (min-width: 991.98px) {
  .popup__close:hover {
    transition-duration: 0.3s;
    transform: scale(1.1) rotate(180deg);
  }

  .btn:hover {
    background-color: #D5B96E;
  }

  .scroll-top:hover {
    border: 3px solid rgba(175, 153, 92, 0.4);
  }

  .header__social-box:hover .header__icon-svg {
    fill: #AF995C;
    transform: translateY(-3px);
    transition-duration: 0.3s;
  }

  .header__menu-item:hover .header__menu-link {
    color: #AF995C;
  }

  .header__phone-link:hover {
    color: #AF995C;
  }

  .header__phone-link:hover:before {
    right: 4px;
  }

  .show__scroll:hover {
    bottom: -4px;
  }

  .welcome__body {
    display: flex;
  }

  .welcome__promo-poster:hover:before {
    width: 125px;
    height: 125px;
  }

  .welcome__text-box {
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .header__burger {
    display: none;
  }
}

@media (max-width: 1917px) {
  .header__nav {
    max-width: calc(160px + (340 - 160) * ((100vw - 320px) / (1917 - 320)));
  }
}

@media (max-width: 1470px) {
  .main-text {
    font-size: calc(15px + (21 - 15) * ((100vw - 320px) / (1470 - 320)));
  }

  .title {
    font-size: calc(34px + (44 - 34) * ((100vw - 320px) / (1470 - 320)));
    padding-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (1470 - 320)));
  }

  .padding-max {
    padding-top: calc(40px + (150 - 40) * ((100vw - 320px) / (1470 - 320)));
    padding-bottom: calc(40px + (150 - 40) * ((100vw - 320px) / (1470 - 320)));
  }

  .padding-min {
    padding-top: calc(40px + (60 - 40) * ((100vw - 320px) / (1470 - 320)));
  }

  .decore-white:before,
  .decore-gold:before {
    width: calc(34px + (44 - 34) * ((100vw - 320px) / (1470 - 320)));
    height: calc(19px + (29 - 19) * ((100vw - 320px) / (1470 - 320)));
  }

  .header__logo-box {
    max-width: calc(70px + (162 - 70) * ((100vw - 320px) / (1470 - 320)));
  }

  .show__inner {
    padding-top: calc(100px + (160 - 100) * ((100vw - 320px) / (1470 - 320)));
  }

  .show__title {
    font-size: calc(25px + (82 - 25) * ((100vw - 320px) / (1470 - 320)));
    padding-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1470 - 320)));
  }

  .show__subtitle {
    font-size: calc(18px + (34 - 18) * ((100vw - 320px) / (1470 - 320)));
  }

  .show__subtitle,
  .show__note {
    margin-top: calc(25px + (50 - 25) * ((100vw - 320px) / (1470 - 320)));
  }

  .show__scroll-btn {
    width: calc(25px + (70 - 25) * ((100vw - 320px) / (1470 - 320)));
    height: calc(25px + (70 - 25) * ((100vw - 320px) / (1470 - 320)));
  }

  .welcome__body {
    margin-top: calc(15px + (50 - 15) * ((100vw - 320px) / (1470 - 320)));
  }

  .welcome__promo-poster:before {
    width: calc(50px + (115 - 50) * ((100vw - 320px) / (1470 - 320)));
    height: calc(50px + (115 - 50) * ((100vw - 320px) / (1470 - 320)));
  }

  .welcome__text--thin {
    font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1470 - 320)));
  }

  .welcome__text--typs {
    font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1470 - 320)));
    margin-top: calc(16px + (30 - 16) * ((100vw - 320px) / (1470 - 320)));
  }

  .procedure__row {
    margin-top: calc(15px + (50 - 15) * ((100vw - 320px) / (1470 - 320)));
  }

  .procedure__image-body {
    min-height: calc(70px + (100 - 70) * ((100vw - 320px) / (1470 - 320)));
  }

  .procedure__image {
    max-width: calc(60px + (100 - 60) * ((100vw - 320px) / (1470 - 320)));
  }
}

@media (max-width: 1200px) {
  .menu-burger__icon {
    display: block;
    margin-left: 20px;
  }

  .menu-burger__container {
    display: block;
    position: fixed;
    z-index: 99;
    top: -180%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 52, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 30px;
    transition: all .3s ease 0s;
  }

  .menu-burger__container.active {
    top: 0;
    overflow: auto;
  }

  .header__nav {
    display: none;
  }
}

@media (max-width: 1170px) {
  .menu-burger__link {
    font-size: calc(25px + (32 - 25) * ((100vw - 320px) / (1170 - 320)));
  }
}

@media (max-width: 1100px) {
  .procedure__row {
    justify-content: center;
    flex-wrap: wrap;
  }

  .procedure__item {
    max-width: 320px;
  }
}

@media (max-width: 991.98px) {
  .header__inner {
    height: 60px;
  }

  .welcome__video-box {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .menu-burger__list {
    padding: 100px 0 0;
  }
}

@media (max-width: 610px) {
  .header__logo-box {
    left: 0;
    transform: translate(0, -50%);
  }

  .header__social-media {
    display: none;
  }

  .header__questons {
    left: 0;
    transform: translate(0, -50%);
  }
}

@media (max-width: 600px) {
  .show__button:before {
    display: none;
  }
}

@media (max-width: 500px) {
  .popup__content {
    padding: 0;
  }

  .popup__close {
    right: -10px;
    top: -40px;
  }
}

@media (max-width: 479.98px) {
  .welcome__video-box {
    margin-bottom: 15px;
  }
}

@media (max-width: 390px) {
  .header__questons {
    padding: 5px 10px;
    white-space: normal;
    word-break: break-all;
    max-width: 65px;
    font-size: 12px;
  }
}